{% extends "base.html" %}
{% load static %}
{% block title %}Log In{% endblock title %}
{% block css_files %}
 <link rel="stylesheet" href= {% static "MainPage/auth.css" %}/>
{% endblock css_files %}
{% block content %}
<div class="auth-container">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-control">
            {{ form.user_name.label_tag }}
            {{ form.user_name }}
        </div>
        <div class="form-control">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
        </div>
        <button type="submit" class="auth-btn">Login</button>
    </form>
    <div class="auth-links">
       
        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </div>
  </div>
  
{% endblock content %}
