{% extends "base.html" %}
{% load static %}
{% block title %}Log In{% endblock title %}
{% block css_files %}
 <link rel="stylesheet" href= {% static "MainPage/login.css" %}/>
{% endblock css_files %}
{% block content %}


<body>

    <div class="login-form">
        <h2>Login</h2>
    
        <!-- Display success or error messages -->
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    
        <!-- Login form -->
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            
            <button type="submit" class="btn-primary">Login</button>
        </form>
    </div>
    
    </body>
  
{% endblock content %}
